@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-xy {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.animate-gradient {
    background-size: 200% 200%;
    animation: gradient-xy 15s ease infinite;
}

body {
    background-color: #f3f4f6;
    /* consistent background */
}